{% extends 'front.html.twig' %}
{% block body %}
    <div class="masthead-heading text-uppercase">WELCOME TO WASSSALNI</div>
    <a class="btn btn-primary btn-xl text-uppercase" href="http://127.0.0.1:8000/livraison/affiche_livraison">AFFICHER LES LIVRAISONS</a>
    </div>
    <style type="text/css">
        table {margin: 0 auto;}
        table, tr, td {
            border: 2px #2b2b2b solid;
            color: #2b2b2b;
        }

        table { background-color: #D3D3D3; }
        tr { background-color: #FD6C9E; }
        a {
            color: Black;
        }

    </style>
<h1> AJOUTER LIVRAISON </h1>
{{ form_start(form) }}
    {{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
    <table>
        <tr>
            <td>{{ form_label(form.depart,"depart") }}</td>
            <td>{{ form_widget(form.depart) }}</td>
            <td>{{ form_errors(form.depart) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.arrive,"arrive") }}</td>
            <td>{{ form_widget(form.arrive) }}</td>
            <td>{{ form_errors(form.arrive) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.type_objet,"type_objet") }}</td>
            <td>{{ form_widget(form.type_objet) }}</td>
            <td>{{ form_errors(form.type_objet) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.emplacement_et_etat,"emplacement_et_etat") }}</td>
            <td>{{ form_widget(form.emplacement_et_etat) }}</td>
            <td>{{ form_errors(form.emplacement_et_etat) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.poids_unitaire,"poids_unitaire") }}</td>
            <td>{{ form_widget(form.poids_unitaire) }}</td>
            <td>{{ form_errors(form.poids_unitaire) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.tarif,"Tarif") }}</td>
            <td>{{ form_widget(form.tarif) }}</td>
            <td>{{ form_errors(form.tarif) }}</td>
        </tr>
    </table>
{{ form_end(form) }}
{% endblock %}