{% extends 'backoffice.html.twig' %}

{% block title %}Actualitee index{% endblock %}

{% block body %}
    <h1>Actualitee </h1>

    <table class="table" border="2">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for actualitee in actualitees %}
            <tr>
                <td>{{ actualitee.id }}</td>
                <td>{{ actualitee.titre }}</td>
                <td>{{ actualitee.type }}</td>
                <td>
                    <a href="{{ path('actualitee_show', {'id': actualitee.id}) }}">show</a>
                    <a href="{{ path('actualitee_edit', {'id': actualitee.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('actualitee_new') }}">Create new</a>
{% endblock %}
