{%  extends 'ajouter.html.twig'%}
{% block body%}
<h1>Ajout Publicité</h1>
{{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
    <table>
        <tr>
            <td>{{ form_label(form.titre,"titre") }}</td>
            <td>{{ form_widget(form.titre) }}</td>
            <td>{{ form_errors(form.titre) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.description,"Ddescription") }}</td>
            <td>{{ form_widget(form.description) }}</td>
            <td>{{ form_errors(form.description) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.dureePub,"dureePub") }}</td>
            <td>{{ form_widget(form.dureePub) }}</td>
            <td>{{ form_errors(form.dureePub) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.tarif,"Tarif") }}</td>
            <td>{{ form_widget(form.tarif) }}</td>
            <td>{{ form_errors(form.tarif) }}</td>
        </tr>
    </table>

{{ form_end(form) }}
{% endblock %}
