{% extends 'front.html.twig' %}
{% block body %}
    <div class="masthead-heading text-uppercase">WELCOME TO WASSSALNI</div>
    <a class="btn btn-primary btn-xl text-uppercase" href="http://127.0.0.1:8000/livreur/affiche_livreur">AFFICHER LES LIVREURS</a>
    </div>
    <style type="text/css">
        table {margin: 0 auto;}
        table, tr, td {
            border: 2px #2b2b2b solid;
            color: #2b2b2b;
        }

        table { background-color: #D3D3D3; }
        tr { background-color: #FD6C9E; }
        a {
            color: Black;
        }

    </style>
<h1> AJOUTER LIVREUR </h1>
{{ form_start(form) }}
    {{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
    <table>
        <tr>
            <td>{{ form_label(form.nom,"nom") }}</td>
            <td>{{ form_widget(form.nom) }}</td>
            <td>{{ form_errors(form.nom) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.prenom,"prenom") }}</td>
            <td>{{ form_widget(form.prenom) }}</td>
            <td>{{ form_errors(form.prenom) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.num_tel,"num_tel") }}</td>
            <td>{{ form_widget(form.num_tel) }}</td>
            <td>{{ form_errors(form.num_tel) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.cin,"cin") }}</td>
            <td>{{ form_widget(form.cin) }}</td>
            <td>{{ form_errors(form.cin) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.rate,"rate") }}</td>
            <td>{{ form_widget(form.rate) }}</td>
            <td>{{ form_errors(form.rate) }}</td>
        </tr>
    </table>

{{ form_end(form) }}
{% endblock %}