{% extends 'front.html.twig' %}
{% block body %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<H1>List des livreurs</H1>
<table border="1">
    <tr>
        <th>Id_livreur:</th>
        <th>Nom:</th>
        <th>Prenom:</th>
        <th>N° de tel:</th>
        <th>N° cin:</th>
        <th>Rate:</th>
    </tr>
    <tr {% for c in livreur %}>
        <td>{{ c.id}}  </td>
        <td>{{ c.nom}}  </td>
        <td>{{ c.prenom}}</td>
        <td>{{c.num_tel}}</td>
        <td>{{c.cin}}</td>
        <td>{{c.rate}}</td>
        <td><a href=" {{ path('update',{'id':c.id })}}">update</a> </td>
        <td><a href=" {{ path('d',{'id':c.id })}}">Delete</a> </td>
    </tr {% endfor %}>
</table>
</body>
</html>
{% endblock %}
